body {
  background-color:black;
  margin-bottom:100px;
}

img {
  display: inline-block;
  align:center;
  width:300px;
  height:400px;
  padding:10px;
  margin-left:85px;
}

div img:hover{
  background-color:yellow;
}
.text1 {
  margin-left:95px;
}
.text2 {
  margin-left:98px;
}
.text3 {
  margin-left:105px;
}
footer nav {
  position:fixed;
  bottom:0;
  left:0;
  height:70px;
  width:100%;
  text-align:center;
  border:3px solid teal;
  background-color:black;
}
